* {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --white-transparent: #fff30;

    --black: #000;
    --black-transparent-100: #00060;
    --black-transparent-200: #00040;

    --grey-100: #6A6A6A;
    --grey-200: #B2B2B2;
    --grey-300: #D1D1D1;

    --primary-color: #28272C;
    --secondary-color-100: #FF0000;
    --secondary-color-200: #FF00004D;

    --primary-font: "Nunito-Sans";
    --secondary-font: "Open-Sans";
}

.container {
    width: 1088px;
    margin: 0 auto;
}

body {
    font-family: var(--primary-font), sans-serif;
}

a {
    text-decoration: none;
}

/* top-bar */
.top-bar {
    background-color: #6A6A6A;
    color: var(--white)
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.top-bar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-bar__logo-text {
    text-transform: uppercase;
    font-size: 2.1875rem;
    font-weight: bold;
}

.top-bar__logo-text span {
    color: var(--secondary-color-100);
}

.top-bar__nav-list {
    display: flex;
    gap: 100px;
}

.top-bar__nav-list a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
/* e: top-bar */