* {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --white-transparent: #ffffff30;

    --black: #000;
    --black-transparent-100: #00000066;
    --black-transparent-200: #00040;

    --grey-100: #6A6A6A;
    --grey-200: #B2B2B2;
    --grey-300: #D1D1D1;

    --primary-color: #28272C;
    --secondary-color-100: #FF0000;
    --secondary-color-200: #FF00004D;

    --primary-font: "Nunito-Sans";
    --secondary-font: "Open-Sans";
}

.container {
    width: 1088px;
    margin: 0 auto;
}

body {
    font-family: var(--primary-font), sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* top-bar */
.top-bar {
    background: var(--black-transparent-100) 0% 0% no-repeat padding-box;
    color: var(--white);
    position: absolute;
    width: 100%;
    border-bottom: 2px solid var(--white-transparent)
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-bar__logo-text {
    text-transform: uppercase;
    font-size: 2.1875rem;
    font-weight: bold;
}

.top-bar__logo-text span {
    color: var(--secondary-color-100);
}

.top-bar__nav-list {
    display: flex;
}

.top-bar__nav-list a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    padding: 2.0625rem 2.5rem;
}

.top-bar__nav-list a:hover {
    background-color: var(--white-transparent);
}
/* e: top-bar */

/* header */
.header {
    background:
        linear-gradient(#00000060, #00000060), /* top layer: transparent black */
        url("../assets/Image.png");           /* bottom layer: image */
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-origin: padding-box;
    background-size: cover;

    color: var(--white);
    /* position: relative; */
}

.header .container {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-size: 5.625rem;
    text-transform: uppercase;
    text-shadow: 0px 3px 6px #00000040;
    font-weight: 900;
    padding: 1rem 0;
    margin-bottom: 0.625rem;
}

.header__text {
    font-size: 1rem;
    line-height: 1.375rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3.375rem;
}

.header__buttons {
    display: flex;
    gap: 25px;
}

.header__arrow-down img {
    display: block;
    margin: 0 auto;
    padding: 1.0625rem;
    border-radius: 50%;
    position: relative;
    text-align: center;
    top: 27.5px;
    background-color: var(--secondary-color-100);
}

.header__arrow-down a {display: block;}
/* e: header */

/* btn */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14.125rem;
    height: 4.125rem;
    text-transform: uppercase;
    border-radius: 2.5rem;
    font-size: 1rem;
    line-height: 1.375rem;

}

.btn--primary {
    background-color: var(--secondary-color-100);
    color: var(--white);
    box-shadow: 0px 3px 6px var(--secondary-color-200);
}

.btn--secondary {
    background-color: var(--white);
    color: var(--secondary-color-100);
}

.btn--small-primary {
    background-color: var(--secondary-color-100);
    color: var(--white);
    width: 8.75rem;
    height: 2.625rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 500;
    
    box-shadow: 0px 3px 6px var(--secondary-color-200);

}


.btn--small-secondary {
    background-color: var(--white);
    color: var(--secondary-color-100);
    border: 1px solid var(--secondary-color-100);
    width: 8.75rem;
    height: 2.625rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-weight: 500;

    box-shadow: 0px 3px 6px var(--secondary-color-200);
}
/* e: btn */

/* section component*/
.section {

}

.section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    text-transform: uppercase;
    font-size: 2.1875rem;
    font-weight: bold;
    line-height: 2.9375rem;
    margin-bottom: 2.1875rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.section__title::before, .section__title::after {
    content: "";
    display: inline-block;
    width: 3.125rem;
    height: 0.1875rem;
    background-color: var(--secondary-color-100);
    box-shadow: 0px 1px 6px var(--secondary-color-200);
}

.section__columns {
    display: flex;
    justify-content: space-between;
}

/* nested column-1 component */
.column-1 {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column-1__img {
    margin-bottom: 15px;
}

.column-1__title {
    text-transform: uppercase;
    color: var(--grey-100);
    font-size: 1.1875rem;
    font-weight: normal;
    line-height: 1.625rem;
    margin-bottom: 1.5625rem;

}

.column-1__text {
    font-family: var(--secondary-font), sans-serif;
    color: var(--grey-200);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.1875rem;
    width: 16.25rem;
    margin-bottom: 0.9375rem;

}
/*e:  nested column-1 component */

/* nested column-2 component */
.column-2 {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.column-2__img {

}

.column-2__title {
    text-transform: uppercase;
    font-size: 1.1875rem;
    font-weight: normal;
    line-height: 1.625rem;
    text-align: center;
}

.column-2__text {
    font-family: var(--secondary-font), sans-serif;
    color: var(--grey-200);
    text-align: center;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.1875rem;
}
/*e:  nested column-2 component */

/* nested column-3 component */
.column-3 {
    width: 50%;
}

.column-3 img {
    width: 100%;
}
/*e:  nested column-3 component */

/* e: section component*/

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input, .form textarea{
    outline: none;
    border: 1px solid var(--grey-300);
    padding: 0.6875rem 0.75rem;
    border-radius: 0.5rem;
}

.form input:focus, .form textarea:focus {
    box-shadow: 0px 0px 4px var(--secondary-color-100);
    border: 1px solid var(--secondary-color-100);
}

.form input::placeholder, .form textarea::placeholder{
   font-size: 1rem;
   line-height: 1.375rem;
   color: var(--grey-200);
   font-weight: normal;
}

.form textarea {
    resize: none;
}

.form__checkbox-field {
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: var(--grey-200);
}

.form input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    width: 0;
    height: 0;
}

.form__custom-checkbox {
    display: block;
    width: 1.375rem;
    height: 1.375rem;
    border: 1px solid var(--grey-300);
    border-radius: 8px;
    
    flex-shrink: 0;
    flex-basis: 1.375rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__checkbox-field img {
    width: 0.795625rem;
    height: 0.593125rem;
    opacity: 0;
}

.form__checkbox-field input:checked + div img {
    opacity: 1;
}

.form button {
    outline: none;
    align-self: flex-end;
}

/* blog section */
.blog {
    background-color: var(--white);
    padding-top: 5.6875rem;
    padding-bottom: 6.25rem;
}

.blog .section__columns {
    gap: 16px;
}

/* e: blog section */

/* service section */
.service {
    color: white;
    background-color: var(--primary-color);
    padding-top: 3.75rem;
    padding-bottom: 6.25rem;
}

.service .section__title {
    margin-bottom: 4.6875rem;
}

.service .section__columns {
    gap: 45px;
}
/* e: service section */

/* contact section */
.contact {
    background-color: var(--white);
    padding-top: 4.0625rem;
    padding-bottom: 4.0625rem;
}

.contact .section__columns {
    gap: 1rem;
}
/* e: contact section */

/* footer */
.footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2.5rem 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer__left {
    text-transform: uppercase;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1.375rem;
    font-size: 1.5625rem;
    line-height: 2.125rem;
}

.footer__logo-icon {
    width: 1.25rem;
    height: 1.4375rem;
}

.footer__logo-text {
    font-weight: bold;
}

.footer__logo span {
    color: var(--secondary-color-100);
    font-weight: 800;
}

.footer__nav {
    display: flex;
    gap: 141px;
}

.footer__nav-column {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer__link {
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.1875rem;
}

.footer__link:hover {
    color: var(--secondary-color-100);
}

.footer__copyright {
    align-self: flex-end;
    font-size: 0.75rem;
    color: var(--grey-200);
    line-height: 1rem;
    font-weight: 300;
}
/* e: footer */